/* Import Inter font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Inter globally as the default font */
body {
  font-family: 'Inter', sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}